{% extends "base.html" %}
{% block title %}Update bookmark{% endblock %}
{% block content %}
    <h2>Update bookmark</h2>
    <form method="post">
        {{ form.hidden_tag() }}
        <label>{{ form.title.label }} {{ form.title() }}</label>
        {% for error in form.title.errors %}
            <p class="muted">{{ error }}</p>
        {% endfor %}
        <label>{{ form.url.label }} {{ form.url() }}</label>
        {% for error in form.url.errors %}
            <p class="muted">{{ error }}</p>
        {% endfor %}
        {{ form.submit() }}
    </form>
{% endblock %}