<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bookmarks{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>
    <header>
        <h1><a href="{{ url_for('index') }}">Bookmarks</a></h1>
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <p class="flash {{ category }}">{{ message }}</p>
            {% endfor %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
</body>

</html>